@model Heroes.Models.HeroesModel

<div class="card text-primary border-primary" style="width: 22rem;">
  <div class="card-body">
    <h5 class="card-title">@Model.heroName</h5>
    <h6 class="card-subtitle mb-2 text-muted">@Model.power</h6>
    <p class="card-text">@Model.howToReach</p>
  </div>
</div>